main {
  .section-collection {
    padding: 20px 0 50px 0;
    .collection-header {
      @include flex-between;
      .collection-title {
        padding: 50px 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
      }
      #category-list {
        cursor: pointer;
        border: 2px solid gray;
        background-color: white;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 400;
      }
    }
    
  }
}