
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.js-quantity {
  content: -1;
  background-color: red;
  padding: 2px 5px;
  border-radius: 15px;
  color: black;
  font-weight: 700;
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
  font-size: 12px;
}