* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

ul,li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
svg {
  display: block;
}
img {
    display: block;
    max-width: 100%;
}